.display-4 {
    color: white;
    background-color: navy;
    text-align: center;
    flex-wrap: wrap;
    float: center;  
}

#cityChoices{ 
    /* background-color: lightgray; */
    float:left;
    margin: -10px;
    padding: -50px;

}

.cityContainer { 
    float:left;
    margin: auto;
    padding: -50px;
    background-color: lightgray;
}

#weatherContainer{ 
    border: 0.5px solid black;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end space-around;
    align-items: stretch;
    
}

#weatherReport { 
    border: 2px solid blue;
    padding: 200x;
    margin: 100px;

}

.btn {
    padding: 8px 50px;
    background-color: white;

}

